@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@tailwind base;

@tailwind components;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100;
}

article {
  @apply py-4
}

section {
  @apply py-2
}

p {
  @apply py-2
}

h2 {
  @apply text-4xl font-bold text-red-600 leading-tight
}

h3 {
  @apply text-2xl font-bold
}

h4 {
  @apply text-xl font-bold
}

ol, ul {
  @apply px-4 py-2
}

.article-hero {
  @apply py-4
}

.pictureCarousel {
  @apply pt-4 pb-2
}

.btn {
  @apply px-2 py-3 border border-red-700 rounded-lg bg-red-600 text-white font-bold tracking-wider transition-colors transition duration-300 ease-in-out transform
}

button:focus{
  @apply outline-none shadow-outline
}

.btn:hover {
  @apply bg-red-500 -translate-y-1
}

.btn:active {
  @apply bg-red-700
}

.social {
  @apply transition-transform duration-300 ease-in-out transform
}

.social:hover {
  @apply -translate-y-2 scale-125 cursor-pointer
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.intro-text {
  @apply text-xl font-bold text-center
}

.body-text {
  @apply text-lg
}

.link {
  @apply text-red-500 underline font-bold
}

.link:hover {
  @apply no-underline cursor-pointer
}

li img {
  @apply mr-4
}

.theme-light {
  @apply transition transition-colors duration-700 bg-gray-100 text-gray-700
}

.theme-dark {
  @apply transition transition-colors duration-700 bg-gray-900 text-gray-200
}

@tailwind utilities;