@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@tailwind base;

@tailwind components;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100;
}

.btn {
  @apply px-2 py-3 border border-red-700 rounded-lg bg-red-600 text-white font-bold tracking-wider transition-colors transition duration-300 ease-in-out transform
}

.btn:focus{
  @apply outline-none shadow-outline
}

.btn:hover {
  @apply bg-red-500 -translate-y-1
}

.btn:active {
  @apply bg-red-700
}

.social {
  @apply transition-transform duration-300 ease-in-out transform
}

.social:hover {
  @apply -translate-y-2 scale-125 cursor-pointer
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

.intro-text {
  @apply text-xl font-bold text-center text-gray-800
}

.body-text {
  @apply text-lg text-gray-800
}

a:hover {
  @apply no-underline
}

@tailwind utilities;